:root {
  --main-color: #ffffff;
  --text-color: #404040;
  --accent-color: #2468ff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-color);
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

.container {
	width: 1440px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ----------HEADER------------- */
.header .container{
	display: flex;
  align-items: center;
}

.header-free {
	background-color: #161F49;
	color: var(--main-color);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.header-logo {
  margin-right: 195px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
}

.header-item {
}

.header-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 25px;  
}

.header-shop  {
  display: block;
}
